.modal-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 99;
  overflow: auto;
  -webkit-overflow-scrolling: touch; }

.flexbox.modal-wrapper {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: -webkit-box;
  display: flex;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  -webkit-box-pack: center;
  justify-content: center;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  -webkit-box-align: start;
  align-items: flex-start; }

.modal-dialog {
  position: absolute;
  z-index: 99;
  width: 420px;
  max-width: 100%;
  border-radius: 8px;
  border: 1px solid #888;
  box-shadow: 0 0 80px 0 rgba(0, 0, 0, 0.4);
  background: #fff;
  text-align: left; }

html.modal-open .modal-wrapper .modal-dialog {
  position: static;
  margin-top: 14%;
  margin-top: 14vh; }

html.modal-open.no-flexbox .modal-wrapper .modal-dialog {
  margin-left: auto;
  margin-right: auto; }

html.modal-open.mobile .modal-wrapper .modal-dialog {
  margin-top: 0; }

html.modal-open.no-flexbox .modal-wrapper .modal-dialog.centered {
  margin-top: 50%; }

.flexbox.modal-wrapper .modal-dialog.centered {
  -ms-flex-item-align: center;
  -webkit-align-self: center;
  -ms-grid-row-align: center;
  align-self: center; }

.modal-dialog-bg {
  position: fixed;
  left: 0;
  top: 0;
  z-index: 95;
  min-height: 100% !important;
  width: 100% !important;
  height: 100% !important;
  overflow: visible;
  background: #666; }

.modal-dialog-title-close {
  position: absolute;
  top: 50%;
  _top: 20px;
  right: 3px;
  width: 30px;
  height: 30px;
  margin-top: -15px;
  text-indent: -9999px;
  cursor: pointer;
  background-position: -60px -53px; }

.modal-dialog-title {
  position: relative;
  margin: -1px -1px 0;
  padding: 10px 15px;
  line-height: 14px;
  background: #1D7FE2;
  background: -webkit-linear-gradient(top, #1D7FE2, #0865C2);
  background: linear-gradient(to bottom, #1D7FE2, #0865C2);
  border: 1px solid #0D6EB8;
  border-radius: 6px 6px 0 0;
  box-shadow: 0 1px 0 rgba(255, 255, 255, 0.1) inset, 0 1px 1px rgba(0, 0, 0, 0.2); }

.modal-dialog-title-draggable {
  cursor: move; }

.modal-dialog-title-text {
  color: #fff;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.4);
  font-size: 15px;
  font-weight: 700; }

.modal-dialog-content {
  padding: 0 15px;
  margin: 17px 0; }

.modal-dialog-buttons {
  padding: 0 15px;
  margin-bottom: 15px;
  text-align: right;
  background: #fff; }

.modal-dialog-buttons button[name=cancel] {
  border: 0;
  color: #259;
  background: transparent;
  cursor: pointer;
  font-size: 13px; }

html.no-touchevents .modal-dialog-buttons button[name=cancel]:hover {
  text-decoration: underline; }

.modal-dialog-buttons button + button {
  margin-left: 1em; }

.modal-dialog .zm-command {
  padding: 20px 0 0; }

.modal-dialog.with-button .modal-dialog-content {
  border-radius: 0;
  border-bottom: 0;
  font-size: 14px; }

.modal-dialog.with-button .modal-dialog-buttons {
  display: block;
  padding: 0 15px;
  border-top: 0; }

.goog-buttonset-default {
  font-size: 14px;
  line-height: 1.7;
  text-decoration: none !important;
  vertical-align: middle;
  display: inline-block;
  _display: inline !important;
  text-align: center;
  padding: 4px 10px;
  cursor: pointer;
  border-radius: 3px;
  white-space: nowrap;
  box-sizing: border-box;
  color: #fff !important;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.5);
  background: #1472cf;
  background: -webkit-linear-gradient(top, #1d7fe2, #0865c2);
  background: linear-gradient(to bottom, #1d7fe2, #0865c2);
  border: 1px solid #0D6EB8;
  box-shadow: 0 1px 0 rgba(255, 255, 255, 0.2) inset, 0 1px 0 rgba(0, 0, 0, 0.2);
  *line-height: 20px; }

.goog-buttonset-default.disabled,
.goog-buttonset-default[disabled] {
  background: #eee;
  color: #888 !important;
  border: 1px solid #ddd;
  cursor: not-allowed;
  text-shadow: none;
  box-shadow: none !important; }

.goog-buttonset-default.disabled:active,
.goog-buttonset-default[disabled]:active {
  background: #eee;
  border-color: #ccc; }

.goog-buttonset-default:active {
  background: #1a70c7;
  background: -webkit-linear-gradient(top, #1a79d9, #1a70c7);
  background: linear-gradient(to bottom, #1a79d9, #1a70c7);
  box-shadow: 0 1px 2px rgba(255, 255, 255, 0.15) inset; }

.modal-dialog .textarea {
  width: 100%;
  padding: 8px 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-shadow: inset 0 0 4px 0 rgba(0, 0, 0, 0.1);
  box-sizing: border-box; }

.modal-dialog-cancelNoti {
  float: left;
  margin-top: 20px;
  font-size: 13px; }

.modal-dialog-async-loading {
  color: #999;
  text-align: center; }

.mutiview-dialog-bg {
  width: 100%;
  height: 100%;
  position: fixed;
  left: 0;
  top: 0;
  background-color: #fff;
  opacity: 0 !important;
  -ms-filter: "alpha(Opacity=0)";
  z-index: 95;
  -webkit-transition: opacity .2s ease-out;
  transition: opacity .2s ease-out; }

.mutiview-dialog-bg.show {
  opacity: 0.9 !important;
  -ms-filter: "alpha(Opacity=90)"; }

@media (max-width: 450px) {
  .mutiview-dialog-bg.show {
    opacity: 1 !important;
    -ms-filter: "alpha(Opacity=100)"; } }

.mutiview-dialog {
  margin-top: 14vh;
  width: 300px;
  color: #787878;
  font-size: 14px;
  background-color: #fff;
  border: 1px solid #cbcbcb;
  border-radius: 5px;
  box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.3);
  outline: 0;
  z-index: 99;
  opacity: 0;
  -ms-filter: "alpha(Opacity=0)";
  overflow: hidden;
  -webkit-transform: translate(0, 20px);
  -ms-transform: translate(0, 20px);
  transform: translate(0, 20px);
  -webkit-transition: .3s ease-out;
  transition: .3s ease-out; }

.mutiview-dialog.show {
  opacity: 1;
  -ms-filter: "alpha(Opacity=100)";
  -webkit-transform: translate(0, 0);
  -ms-transform: translate(0, 0);
  transform: translate(0, 0); }

html.modal-open.no-flexbox .modal-wrapper .mutiview-dialog {
  margin: 14% auto auto; }

.mutiview-dialog .mutiview-dialog-title {
  position: relative;
  height: 92px; }

.mutiview-dialog .mutiview-dialog-title .title {
  position: absolute;
  padding-top: 25px;
  padding-bottom: 25px;
  width: 100%;
  height: 42px;
  text-align: center;
  line-height: 1;
  -webkit-transition: .3s ease-out;
  transition: .3s ease-out; }

.mutiview-dialog .mutiview-dialog-title .title.left {
  opacity: 0;
  -ms-filter: "alpha(Opacity=0)";
  -webkit-transform: translate(-50px, 0);
  -ms-transform: translate(-50px, 0);
  transform: translate(-50px, 0); }

.mutiview-dialog .mutiview-dialog-title .title.right {
  visibility: hidden;
  opacity: 0;
  -ms-filter: "alpha(Opacity=0)";
  -webkit-transform: translate(50px, 0);
  -ms-transform: translate(50px, 0);
  transform: translate(50px, 0); }

.mutiview-dialog .mutiview-dialog-title .title h1 {
  font-size: 16px;
  line-height: 18px;
  font-weight: 700;
  margin-bottom: 10px; }

.mutiview-dialog .mutiview-dialog-title .title h2 {
  font-size: 14px;
  font-weight: 400; }

.mutiview-dialog .mutiview-dialog-title .mutiview-dialog-title-back,
.mutiview-dialog .mutiview-dialog-title .mutiview-dialog-title-close {
  position: absolute;
  top: 10px;
  cursor: pointer;
  -webkit-transition: opacity .2s ease-out;
  transition: opacity .2s ease-out; }

.mutiview-dialog .mutiview-dialog-title .mutiview-dialog-title-back {
  visibility: hidden;
  left: 10px;
  opacity: 0;
  -ms-filter: "alpha(Opacity=0)"; }

.mutiview-dialog .mutiview-dialog-title .mutiview-dialog-title-back.show {
  opacity: .2;
  -ms-filter: "alpha(Opacity=20)"; }

.mutiview-dialog .mutiview-dialog-title .mutiview-dialog-title-back.show:hover {
  opacity: .3;
  -ms-filter: "alpha(Opacity=30)"; }

.mutiview-dialog .mutiview-dialog-title .mutiview-dialog-title-back.show:active {
  opacity: .25;
  -ms-filter: "alpha(Opacity=25)"; }

.mutiview-dialog .mutiview-dialog-title .mutiview-dialog-title-close {
  right: 10px;
  opacity: .2;
  -ms-filter: "alpha(Opacity=20)"; }

.mutiview-dialog .mutiview-dialog-title .mutiview-dialog-title-close:hover {
  opacity: .3;
  -ms-filter: "alpha(Opacity=30)"; }

.mutiview-dialog .mutiview-dialog-title .mutiview-dialog-title-close:active {
  opacity: .25;
  -ms-filter: "alpha(Opacity=25)"; }

.mutiview-dialog .mutiview-dialog-content {
  position: relative; }

.mutiview-dialog .mutiview-dialog-content.transition {
  -webkit-transition: height .3s ease-out;
  transition: height .3s ease-out; }

.mutiview-dialog .mutiview-dialog-content .view {
  width: 100%;
  box-sizing: border-box;
  -webkit-transition: .3s ease-out;
  transition: .3s ease-out; }

.mutiview-dialog .mutiview-dialog-content .view.left {
  position: absolute;
  opacity: 0;
  -ms-filter: "alpha(Opacity=0)";
  -webkit-transform: translate(-100%, 0);
  -ms-transform: translate(-100%, 0);
  transform: translate(-100%, 0); }

.mutiview-dialog .mutiview-dialog-content .view.right {
  visibility: hidden;
  position: absolute;
  top: 0;
  opacity: 0;
  -ms-filter: "alpha(Opacity=0)";
  -webkit-transform: translate(100%, 0);
  -ms-transform: translate(100%, 0);
  transform: translate(100%, 0); }

@media (max-width: 450px) {
  .mutiview-dialog {
    width: 100%;
    height: 100%;
    border: 0;
    border-radius: none;
    box-shadow: none; }
  .mutiview-dialog .mutiview-dialog-title .mutiview-dialog-title-close {
    top: 0;
    right: 0;
    border: 12px solid #fff; }
  .mutiview-dialog .mutiview-dialog-title .mutiview-dialog-title-back {
    top: 0;
    left: 0;
    border: 12px solid #fff; }
  .mutiview-dialog .mutiview-dialog-content {
    height: auto !important; }
  html.modal-open .modal-wrapper .mutiview-dialog {
    margin-top: 0; } }

.SignFlow {
  color: #787878;
  font-size: 14px; }

.SignFlow .title {
  padding-top: 25px;
  padding-bottom: 25px;
  width: 100%;
  height: 42px;
  text-align: center;
  line-height: 1; }

.SignFlow .title h1 {
  font-size: 16px;
  line-height: 18px;
  font-weight: 700;
  margin-bottom: 10px; }

.SignFlow .title h2 {
  font-size: 14px;
  font-weight: 400; }

.SignFlow button {
  padding: 0;
  font-size: 14px;
  color: #787878;
  background: 0 0;
  border: 0;
  outline: 0;
  cursor: pointer; }

.SignFlow .blue-button {
  display: inline-block;
  background-color: #0077d9;
  padding: 8px 16px;
  font-size: 14px;
  line-height: 1;
  color: #fff;
  border: 0;
  border-radius: 3px;
  outline: 0;
  cursor: pointer; }

.SignFlow .blue-button:hover {
  background-color: #0070CD; }

.SignFlow .blue-button:active {
  background-color: #0077d9; }

.SignFlow .blue-button:btn-pending {
  background-color: #A8B9C7; }

.SignFlow .blue-button.full-width {
  display: block;
  width: 100%;
  padding: 10px; }

.SignFlow .input-wrapper {
  position: relative;
  border-bottom: 1px solid #eee; }

.SignFlow .input-wrapper:first-child {
  border-top: 1px solid #eee; }

.SignFlow .input-wrapper input {
  padding: 15px 8px;
  height: 48px;
  width: 100%;
  font-size: 14px;
  line-height: 18px;
  color: #787878;
  border: 0;
  outline: 0;
  box-sizing: border-box; }

.SignFlow .input-wrapper input:-webkit-autofill {
  -webkit-box-shadow: 0 0 0 30px #fff inset;
  -webkit-text-fill-color: #787878; }

.SignFlow .input-wrapper input::-webkit-input-placeholder {
  line-height: 18px;
  color: #ccc;
  -webkit-text-fill-color: #ccc;
  opacity: 1;
  -ms-filter: "alpha(Opacity=100)"; }

.SignFlow .input-wrapper input::-moz-placeholder {
  line-height: 18px;
  color: #ccc;
  -webkit-text-fill-color: #ccc;
  opacity: 1;
  -ms-filter: "alpha(Opacity=100)"; }

.SignFlow .input-wrapper input:-ms-input-placeholder {
  line-height: 18px;
  color: #ccc;
  -webkit-text-fill-color: #ccc;
  opacity: 1;
  -ms-filter: "alpha(Opacity=100)"; }

.SignFlow .input-wrapper input::placeholder {
  line-height: 18px;
  color: #ccc;
  -webkit-text-fill-color: #ccc;
  opacity: 1;
  -ms-filter: "alpha(Opacity=100)"; }

.SignFlow .input-wrapper input::-ms-clear {
  display: none; }

.SignFlow .input-wrapper input::-ms-reveal {
  display: none; }

.SignFlow .input-wrapper label.error {
  position: absolute;
  top: 0;
  right: 0;
  padding: 0 8px;
  line-height: 48px;
  color: #c33;
  cursor: text;
  background: #fff;
  background: -webkit-linear-gradient(left, rgba(255, 255, 255, 0), #fff 8px);
  background: linear-gradient(to right, rgba(255, 255, 255, 0), #fff 8px);
  visibility: hidden;
  opacity: 0;
  -ms-filter: "alpha(Opacity=0)";
  -webkit-transition: .25s ease-out;
  transition: .25s ease-out;
  -webkit-transform: translate(8px, 0);
  -ms-transform: translate(8px, 0);
  transform: translate(8px, 0); }

.SignFlow .input-wrapper label.error.is-visible {
  visibility: visible;
  opacity: 1;
  -ms-filter: "alpha(Opacity=100)";
  -webkit-transform: translate(0, 0);
  -ms-transform: translate(0, 0);
  transform: translate(0, 0); }

.SignFlow .input-wrapper label.error.highlighted {
  color: #ed707c;
  -webkit-transition: none;
  transition: none; }

.SignFlow .input-wrapper label.error a {
  text-decoration: none; }

.SignFlow .input-wrapper label.error a,
.SignFlow .input-wrapper label.error span {
  color: #787878; }

.SignFlow .input-wrapper.toggle-password .z-ico-show-password {
  position: absolute;
  top: 0;
  right: 0;
  margin: auto;
  border: solid #fff;
  border-width: 17px 8px 17px 0;
  cursor: pointer; }

.SignFlow .input-wrapper.toggle-password input {
  padding-right: 41px; }

.SignFlow .input-wrapper.toggle-password label.error {
  right: 26px; }

.SignFlow .input-wrapper.captcha-module {
  display: none; }

.SignFlow .input-wrapper.captcha-module .captcha-container {
  position: absolute;
  top: 0;
  right: 10px;
  bottom: 0;
  margin: auto;
  height: 30px;
  border-radius: 4px;
  overflow: hidden;
  cursor: pointer; }

.SignFlow .input-wrapper.captcha-module .captcha-container .captcha {
  height: 30px;
  width: 90px; }

.SignFlow .input-wrapper.captcha-module label.error {
  right: 98px; }

.SignFlow .input-wrapper.verification-code input {
  width: 200px; }

.SignFlow .input-wrapper.verification-code label.error {
  right: 94px; }

.SignFlow .input-wrapper.verification-code .send-code {
  position: relative;
  z-index: 2;
  float: right;
  width: 94px;
  height: 48px;
  color: #ababab;
  background-color: #f7f7f7; }

.SignFlow .submit-wrapper {
  padding: 22px 0;
  text-align: center; }

.SignFlow--bordered {
  border: 1px solid #eee;
  border-radius: 3px; }

.mutiview-dialog.unable-login .view.start {
  padding: 25px 0 50px; }

.mutiview-dialog.unable-login .view.start .blue-button {
  display: block;
  margin: auto;
  padding: 10px 0;
  width: 165px; }

.mutiview-dialog.unable-login .view.start .blue-button + .blue-button {
  margin-top: 25px; }

.mutiview-dialog.unable-login .view.start .blue-button--link {
  text-align: center;
  text-decoration: none; }

.mutiview-dialog.oauth-register .view.register .submit-wrapper {
  margin: 0 8px;
  padding-bottom: 0; }

.mutiview-dialog.oauth-register .view.register .switch-wrapper {
  padding: 0 8px;
  line-height: 54px;
  text-align: center; }

.mutiview-dialog.oauth-register .view.register .switch-wrapper a {
  color: #259; }

.mutiview-dialog.oauth-register .view.bound,
.mutiview-dialog.oauth-register .view.registered {
  text-align: center; }

.mutiview-dialog.oauth-register .view.bound img,
.mutiview-dialog.oauth-register .view.registered img {
  display: block;
  margin: auto;
  border-radius: 50%; }

.mutiview-dialog.oauth-register .view.bound .name,
.mutiview-dialog.oauth-register .view.registered .name {
  display: block;
  margin: 12px auto 15px; }

.mutiview-dialog.oauth-register .view.bound button.register,
.mutiview-dialog.oauth-register .view.registered button.register {
  width: 100%;
  height: 45px;
  margin-top: 30px;
  background-color: #fafafa; }

.mutiview-dialog.oauth-register .view.bind-login .actions {
  padding: 20px 9px; }

.mutiview-dialog.oauth-register .view.bind-login input[name=account] {
  background-color: #f7f7f7; }

.mutiview-dialog.oauth-register .view.bind-login button.submit {
  float: right; }
